/* General Formatting */

html {
    box-sizing: border-box;
    font-family: "Libre Franklin", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
} 

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: #f6f;
    text-decoration: none;
}

p, li {
    font-size: .9em;
    line-height: 1.5;
}

li li {
    font-size: 1em;
}

/* Default Header (Small Mobile) */

header {
    display: grid;
    width: 100%;
    height: 120px;
    padding-bottom: 5px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr;
    background-color: #333;
    color: white;
}

header #prof {
    grid-column: 1;
    grid-row: 1; 
    align-self: center;
    text-align: center;
    padding-top: 5px;
}

#prof img {
    max-width: 50%;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}

#prof #name {
    font-size: .5em;
    font-weight: 300;
    margin-top: 0;
    padding-top: 0;
    line-height: 1; 
}

header #title {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    margin: 5px;
    justify-self: start;
}

#title h1 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left; 
}

#title h2 {
    font-size: .9em;
    line-height: 0;
    font-weight: 100;
}

#menu {
    grid-column: 1 / 3;
    grid-row: 2;
    align-self: end; 
    justify-self: end; 
    font-size: .6em;
    font-weight: 400;
    width: 100%;
    background-color: #333;
    padding: 5px;
    text-align: right;
}

.sticky {
    position: fixed; 
    top: 0;
    max-width: 1048px;
}

.sticky + content {
    padding-top: 20px;
}

#menu span {
    padding: 2px;
    border-radius: 3px;
    font-weight: 400;
}

.inactive-link {
    color: #ccc;
}

.selected {
    background-color: white;
    color: black;
}



/* Hide Items on Mobile */

#calendar, #toc {
    display: none;
}

/* Default Main Content (Mobile) */

.subhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    color: #444;
    padding: 0 8px;
    transition: 0.4s;
    margin-bottom: 5px;
    border-radius: 3px;
}

.subhead h2 {
    font-size: 1.1em;
}

.panel {
    display: none;
    margin-top: -5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

/* Default Footer (Mobile) */

footer {
    width: 100%;
    font-size: .7em;
    text-align: center;
    border-top: 1px solid #666;
    padding: 3px;
}

#cc {
    font-size: 1.2em;
}

@media screen and (min-width:365px) {
    #title h1 {
        font-size: 1.8em;
    }

    header #menu {
        font-size: .7em;
        font-weight: 400;
    }

}

@media screen and (min-width: 768px) {
    /* Full Size Header */

    header {
        /* grid-template-rows: 150px 50px;
        grid-template-columns: 250px auto; */
        height: auto;
    }
    
    #prof img {
        max-height: 50%;
    }
    
    #prof #name {
        font-size: .8em;
    }

    #title {
        align-self: center;
    }

    #title h1 {
        font-size: 2.6em;
    }
    #title h2 {
        font-size: 1.8em;
        padding-left: 5px;
    }

    #menu {
        grid-column: 1 /3 ;
        font-size: 1.5em;
    }

    /* Main Grid Definition */
    #wrapper {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 250px auto;
        grid-template-rows: 200px 1fr 30px;
        grid-gap: 1em;
        max-width: 1048px;
    }
    header {
        grid-row: 1;
        grid-column: 1 / 3;
    }
    footer {
        grid-row: 3;
        grid-column: 1 / 3;
    }
    main {
        grid-row: 2;
        grid-column: 2 / 3;
        margin-top: 0;
    }
    #calendar, #toc {
        border: solid lightgrey 1px;
        border-radius: 3px;
        grid-row: 2;
        grid-column: 1 / 2;
        width: 245px;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav h2 {
        text-align: center;
    }
    .mobile-break {
        display: none;
    }
    main h3 {
        font-size: 1em;
    }
    .panel {
        background-color: white;
        display: block;
        padding-left: 10px;
    }
    .subhead h2 {
        font-size: 1.4em;
    }
    /* Calendar Sidebar */
    .month {
        display: block;
        margin-bottom: 20px;
        empty-cells: hide;
        width: 180px;
    }
    .month_title {
        background: #666;
        color: #fff;
        text-align: center;
        padding: 0;
    }
    .month_name {
        font-size: 14px;
        font-weight: bold;
        margin: .5em;
        padding: 3px;
    }
    td {
        text-align: center;
    }
    tr.weekdays td {
        height: 1em;
        width: 2em;
        font-size: 12px;
        font-weight: 600;
    }
    tr.week {
        cursor: pointer;
    }
    tr.week td {
        background-color: #eaeaea;
        border: 1px solid #eaeaea;
        padding: 5px 0;
        font-size: 10px;
    }
    tr.inactive_week td {
        background-color: #fff;
        border: 1px solid #eaeaea;
        padding: 5px 0;
        font-size: 10px;
    }
}